<link rel="stylesheet" href="css/hux-blog.css">---
layout: page
title: "About"
description: "<FONT COLOR=#000000 SIZE=5><br>我是辉雪，本博客的建成离不开我的两位朋友<br>在此特别感谢他们的支持与帮助。</font>"
header-img: "img/about bg-1.jpg"
---


<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        <FONT SIZE=4>小楼依旧当年貌，世间已无程蝶衣。</FONT>>
    </blockquote>

    <br><FONT SIZE=4><B>“一叹红尘苦，二叹红尘误，三叹红尘无去处，花落旧梦故。”</B></FONT><br>

    <DIV ALIGN=LEFT><FONT SIZE=3><br><B>一叹笔走龙蛇，于脂粉中观历史沧桑<br>——国粹风华里传统文化的近世命运</B><br>
    <br>萝卜白菜各有所爱，我个人一直偏好读一些历史感强、可以对应到具体历史情境之中的文本，一则是这让人能够加深对时代的认知，二来或许反映了在纷杂世事中，自己无心
    去天外飞仙科幻武侠的惶恐感。都说历史就是中国人的宗教，历史话题也是中国人街头巷议的最普世的谈资，反映到文学作品上，历史感成为很多优秀的文学作品的元素。白先勇
    在《台北人》这本大牛的短篇小说集中表示过：“中国文学的一大特色，是对历代兴亡、感时伤怀的追悼，从屈原的《离骚》到杜甫的《秋兴八首》，其中所表现出人世沧桑的一
    种苍凉感，正足中国文学的最高境界，也就是《三国演义》中‘青山依旧在，几度夕阳红’的历史感，以及《红楼梦·好了歌》中‘古今将相在何方，荒冢一堆草没了’的无常感
    。……现代中国文学作品的缺点，就是缺少历史感，五四以来我没有一种反传统的后遗症，使我们与传统一刀切断……现在的作品缺少了历史感，内容便显得单薄。”<br>
    <br>李碧华的才具和文笔，自不消我多说，读过她文章的人，无一不夸其功力，就《霸王别姬》而言，写的是北京的故事，而且其时间跨度长达半个世纪，最关键的是要涉及很多
    重要的且敏感的历史情境的处理，如果在没有任何政治禁忌的情况下单单写一部历史教科书，尚且困难，何况是写小说，将人物置于半世纪的沧桑变化当中，对一个作家的考验是全
    面的，这种能力陈忠实具备，《白鹿原》的历史地位不容置疑，但作为一个商业编剧的香港人李碧华，自己从没在北京生活过，而且解放后北京的很多老文化已经消失，能把北京在
    半世纪的故事写好，确实令人敬佩。李碧华让我想起了陆游，一个生于1125年（北宋1127年灭亡），一辈子没有回到过北方的人，却能写出上千首关于北伐，关于北方，关于心中那
    个不死的中原帝国的人，“夜雪楼船瓜洲渡，铁马冰河大散关”，这是他心中的北方，虽然他一生落得“塞上长城空自许，镜前霜鬓已先斑”，但千古此心同，李碧华的心中，想必
    有个历经离乱的千秋家国梦。<br>
    <br>《霸王别姬》处理的并不是历史问题，它无意争辩一个历史结局中的对错和谁对历史负责，也不探讨国家和民族命运前途，它只是在写儿女情长，讲一些人的人生，有浓有淡，
    有详有略的不同人生。中心人物段小楼和程蝶衣是梨园弟子，从卖身戏班历经苦练并最终成角儿，他们是京剧行业金字塔顶端的人，是这个行业的成功者和幸运儿（小说中日据时期，
    程蝶衣无心唱戏，抽大烟时对小四儿说：“一二十年也出不了角儿，你成不了角儿。”），段程二人的经历，无疑是理想中的典型。他们的师傅关金发说是人就得听戏，所以作为名
    角儿，他们能够经历北洋、民国、日据、内战、解放并被奉为座上宾——这其中，其实大半牵扯京剧在李碧华笔下的象征意义，因此京剧这样一个胭脂水粉的艺术形式，在小说中自然
    已经被碾上了历史车轮的印迹。<br>
    <br>京剧被称为国粹，在乾隆时期秦腔、昆曲等地方戏在北京合流，并于此后八大徽班进京时和徽剧、汉调融合并逐渐成型，终于慢慢形成这一中国戏曲的高峰，京剧虽然源自民间，
    但在京剧的形成发展过程当中，来自宫廷的上层的大力支持起过相当重要的作用，清廷推崇京剧（小说中的倪公公看戏讲排场，即是例证），慈禧本人就是个京剧专家。由此看来，京
    剧其实是中国传统文化中阳春白雪、走上层精英路线的一种文化。京剧的形成，从时代背景上来说，是中国文化遭遇千年未有之变局的近代，中国在这一或被动或主动的漫长变革中，除
    了需要应付纷至沓来的西方的政治军事压力，另一个更重要的命题是如何处理中国传统文化与西方工业化为表现形式的现代文明的关系。中国传统文化处理这一关系的过程，就是近一百
    多年来中国历史的文化背景。从洋务到维新，从五四到文革，中国人面对传统文化的基本思路，可谓是弃比扬多，有时甚至是全盘否定和彻底铲除（五四和文革）。京剧作为传统文化中
    的阳春白雪，自然是与现代文明进步和社会变革遭遇时首先要处理的问题，在此意义上，李碧华笔下的京剧，就是传统文化的象征。<br>
    <br>由是，《霸王别姬》在这样一个大的历史背景下，其儿女情长胭脂水粉的京剧故事必然会透露出作者对这段历史的基本倾向，这个透露，则全在小说中与京剧联系的人物命运身上。
    戏班师父关金发，是传统的京剧文化的守护者，他手下带出了段程二人这样的名角儿，自己一生用最严格和最符合祖训的方式生产一辈辈的京剧演员，他是敬业的，他的生活中除了京剧
    别无他物，他最后也是自然地终老在了京剧课堂上；京剧大拿、行家里手袁四爷，无论从社会地位还是文化身份上都是旧中国的上层人士，是整个上层的缩影，解放后作为反动戏霸“说
    毙就给毙了”，青木是日本军官，可他迷恋中国的京剧，背过牡丹亭的本子，程蝶衣说：“没准他能把京剧带到日本去。”倪公公似乎也是爱戏之人，可是他的下场却很灰暗。这些人，可
    谓都是京剧的知己，但是他们的下场无一不是被扫进历史的垃圾堆；段程两位主角的经历自不必说，他们代表了半世纪以来最好的京剧演员，最终难得善终（见风使舵的小四儿靠已经被阉
    割和歪曲过的样板戏上位，全无传统道德中的恩义）。李碧华站在历史后来者的角度，用小说情节为这些旧文化的人做了最终的评价，尤其在文革一段的大篇幅描写中，京剧的遭际，又再
    次强调了李碧华对传统文化近世命运的态度，而这一态度，在小说的结尾有点睛的地方：“……不久，他便无立锥之地。整个的中国，整个的香港，都离奇他了，只好到澡堂泡一泡。到了
    该处，只见‘芬兰浴’三个字。啊，连浴德池，也没有了。”<br>
    <br>小说具有历史感不等于要得出明确的历史结论，李碧华并没有白纸黑字地说传统文化在败亡，旧中国的风雅在现代香消玉殒，她只是在通过人物命运来抒发自己的一种感慨和叹息，通过
    京剧这国粹风华在近世的命运来流露一种情绪，这种叹息和情绪，是那种中国老百姓看惯了改朝换代后眼中的沧桑，是“白发渔樵江渚上，惯看秋月春风”那种淡泊的历史感。<br></FONT>
    <FONT SIZE=3><br><B>二叹爱恨真切，见英雄美人永恒悲剧之美<br>——英雄遇美人，最美在离殇</B><br>
    <br>中国历史上有很多流传千古的爱情故事为人称道，其中有一个重要类型叫“英雄美人”。英雄美人情节的核心是绝代佳人绝对依附于伟男子奇男子、男子为她全心所系，“男为巢女为卵”
    （覆巢之下无完卵）的“依附关系”。楚霸王和虞姬、吕布和貂蝉、唐玄宗和杨贵妃、蔡锷和小凤仙是这种关系的代表。正如本书第一页李碧华便开宗明义地写道：“每一个人，有其依附之
    物，娃娃依附脐带，孩子依附娘亲，女人依附男人。”这种关系不同于张生与崔莺莺，更不同于钱谦益和柳如是。这种绝对依附关系的背后，是男子的伟岸与可被歌颂，例如项羽吕布唐明皇
    蔡锷，在历史上都是一等一的英雄人物，而依附英雄的，则必然只能是美人。讲究和谐、强调稳定感，门当户对的中国文化对英雄美人的模式有天然的需求。<br>
    <br>然而英雄美人情节的妙处，在中国文化中却多体现为分离、永别或没有团圆结局的悲剧性，即“离殇”。“离殇”是英雄美人的关键所在，盖因在绝对男尊女卑的旧时，英雄是要在各方
    面远迈常人的，因此作为英雄的伴侣，这些美人的光芒需要被掩盖，她们早已被划定好了活动范围，后宫不干政，哪怕你再豪杰，你只能是配角，丝毫不能有损英雄的形象。因此，这些
    佳人要显得重要，就只有在她们依附的英雄行将衰亡之际才能有机会。原因大概止于：1.英雄垂暮，令人叹息，又美人相伴，则显得不那么落寞，体现出大众惜英雄的情节，2.再者美人
    从一而终，能衬托出英雄的魅力，也体现出传统的伦理纲常。3.英雄美人佳侣一双，鼎盛时要风得风要雨得雨，最后竟寥落得如此下场，这种对比，韵味无限，故而很美。<br>
    <br>大部分情况之下，作为英雄身边的美人，她们的形象常常是隐形或者不明确的。虞姬何以能被大家记住，流芳千古？当然是自刎于垓下的那夜，其他时刻，她只是作为一个传说中的美女
    出现在世间，而美女有千千万，却不是谁都有机会配和项羽同赴黄泉；而杨玉环最被大家提起和记住的是什么时候？恐怕也只是马嵬坡了。貂蝉作为一个特工被送给董卓，后来遇到吕布，
    算是伴英雄左右，可貂蝉的美，始终和杀戮、分离联系在一起，央视版三国演义，貂蝉最后一个镜头是从车内回望，从此消失，这恐怕是她最美的时刻；杨玉环在大明宫的霓裳羽衣舞、在
    华清池温泉洗凝脂的时候肯定很美，但是映照着大唐盛世的余晖、马嵬坡香消玉殒伊人自挂东南枝的一幕，却美得更深沉更凄切更悠远；蔡锷和小凤仙在北京火车站作别，蔡锷说“此身已
    许国灾难许卿”，小凤仙泪眼婆娑，恐怕这是任何关于小凤仙文本都不能省略的情节和镜头吧。所以说，英雄美人的情节中美的高峰，在于“离殇”，周遭基本都是相对垂泪或刺刀见红的
    环境。这倒有些和日本人的美学相似，日本美学当中认为樱花之美在于尽情绽放之后便瞬间凋零，芳华刹那。书中128页青木大佐说道：“艺术当然是更高层的事儿——单纯、美丽，一如绽
    放的樱花。在最灿烂的时候，得有尽情欣赏它们的人，如果没有，也白美了。”在英雄美人生离死别的嗜血之美、悲剧盛宴当中，谁是欣赏佳人绽放的人？在空间上，是楚霸王、吕布、唐明
    皇、蔡锷；在时间上，则是通过这些万古留芳的文本体会悲剧之美的读者。<br>
    <br>美人遇英雄，最美在离殇。《霸王别姬》中的美学风格，基本也是这样的路数，整篇小说的情感基调是悲凉而浓烈的，悲凉，是时代的离乱和个人的不幸；浓烈，是爱恨皆真切，用力不
    顾身。儿时的小豆子是俊美可爱的，可是他却生在一个兵荒马乱的社会和无比污浊的妓院当中，年少小豆子的情怀是美的，可他只能身处在一个底层的戏班子里，师哥小石头是唯一寄托
    感情的人，他得不到来自父母爱和来自异性爱的正常生活；成年的程蝶衣是美的，他的美，在舞台上属于观众，这可圈可点，可是他在生活中的美，却被倪公公袁四爷得到。至于京剧之
    美，也在乱世面前显得形单影只不堪一击。李碧华对程蝶衣在表演时如何美丽并没有过多描述，但在各种事件的转折之处，在命运变乱的时候，程蝶衣展现出的美确实有详细描述的（例
    如日据时期演出停电，程蝶衣依旧舞剑表演，在文革时期抄家时他剪毁戏服时的情形等多处）。同样是在小说的最后一幕，阔别几十年后二人重逢，决意再唱一次《霸王别姬》，这是一
    次诀别之旅，也是程蝶衣之美最后绽放的祭台。这位老人告别了小豆子、程蝶衣、程老板、反动戏子大毒草、艺术指导这诸多身份，告别了自己钟爱一生愿意为之去死的京剧，告别了自
    己情感的皈依段小楼，完成了一次生命的献祭和心灵的告别，在电影中，程蝶衣自杀的镜头也依然华美异常，霸王垂暮、虞姬自刎，虽然场景悲凉，但却有令人回味无限的美，这就是英
        雄美人的离殇之美。<br></FONT>
    <FONT SIZE=3><br><B>三叹蝶衣不再，姹紫嫣红却付断井残垣<br>——可叹人生如戏，原是人生如梦</B><br>
    <br>就我有限的知识水平所知，中国文人最早公开描写同性恋题材的是李渔的《怜香伴》，讲述了崔笺云与曹语花两名女子以诗文相
        会，互生倾慕，两人想方设法争取长相厮守的故事。这个故事的题材是男权社会下的女同故事，当然有观点认为这本书能传世也
        说明了男权社会中对女同行为的赞赏和支持。《霸王别姬》中的程蝶衣，会有很多人认为这是个男同，这其实是个彻头彻尾的误
        解。1992年陈凯歌版电影，用《Farewell to my concubine》 这个译名，其中concubine指的是情人、姘头、小妾的意思。从英
        文翻译上，也能看出这和男同的事情没有任何关系，而且片中出现的倪公公袁四爷对程蝶衣的所作所为，充其量也只是中国古代
        长期盛行的“娈童/享男色”的遗存，这只是那些衣食无忧对女色已经厌倦的人的专利，和同性恋毫无关系。将程蝶衣认作男同，
        将这个文本叙述称同性恋故事，则是非常浅薄和歪曲的理解。英文翻译“Farewell to my concubine”，如果针对历史上的“霸
        王别姬”这个故事而言，那么说这声Farewell的人一定是楚霸王，“姬”在汉子中本来就有小妾的意思，对应concubine；但如
        果针对到这部小说，说这声Farewell 的人、谁是concubine则是个复杂的问题，一百个读者会有一百个答案，这完全是个开放的
        文本，而在我看来，说Farewell 的人，是小说中活下来的人，经历了时代变动历史沧桑的人，当然，最典型的是主人公段小楼
        和程蝶衣，concubine，则是属于这些人的时代（20、30、40年代，以30年代为主）以及这些人的心爱之物（以京剧为代表的旧
        中国的风华）。<br>
    <br>在本书后面附的一篇香港作家罗如兰对李碧华的专访中，就写道：李碧华小说时空背景偏好三十年代，像《胭脂扣》《霸王别姬》
    。李碧华说：“说的玄一点，对于30年代，我有一种‘过来了’的感觉，所以特别熟悉，说得不玄一点，就是我特别喜欢那个时
     空——那是中国开始繁华的时代，中西交流刚起步，战争还没有开始，就像一个美丽的梦境，人们特别懒散、优雅、绮丽。但这
     一切不到十年就消失了。”其实说到Farewell to my concubine，是李碧华在通过小说人物向心中的那个旧中国的年代说Farewell，
     那个年代的绝代风华、盛代元音就是她的concubine。<br>
     <br>回转话题，为什么程蝶衣要被李碧华塑造成这样一个具有很大男同嫌疑的人？其实这完全是为李碧华要表达的深层意蕴服务。在
        小说中，程蝶衣是一位登峰造极的男旦，他的表演艺术，是被从北洋到新中国的不同时代、从倪公公袁四爷到青木大佐的不同国
        度的人都追捧欣赏的。他的表演艺术之所以如此精妙，其核心在小说中也有交代，就是梨园大拿袁四爷说的“程老板已经到了人
        戏不分的境界”，即程蝶衣其实早已将自己融入到了京剧当中，尤其是《霸王别姬》的虞姬当中。这可谓是老天赐他的一条路：
        样貌嗓音本就俊美过人，而且身边有小石头这样一位豪气干云、充满男儿气概的师兄搭伴儿，所以他自然从平时的训练中和从心
        理认同上就实现了和角色的融合。其实，除此之外，有一个更重要和更本质的因素是：程蝶衣发自内心地爱京剧，爱虞姬这个角
        色，爱自己男旦的身份，他在小说中说道：“我们要唱一辈子，差一年、一个月、一天、一个时辰都不是一辈子”，在看到师兄
        卖瓜时他说：“我只会唱戏，别的不会。”众多诸如此类的情节将程蝶衣对京剧的感情刻画地淋漓尽致，他就是为京剧而生的人
        ，京剧就是他的生命。但从艺术家的角度来讲，程蝶衣是一个完美的艺术家的化身，李碧华笔下的程蝶衣，是她心中对艺术献身
        的一个“理想型”。在具体一点说，程蝶衣就是京剧，他对师兄的依恋，并不是性取向方面的癖好，也无涉肉欲，而是完全出自
        自己对唱好京剧的愿望，因为只有虞姬没有霸王是没法唱戏的，他对菊仙的羡慕嫉妒恨，也完全是为了将段小楼拉回来，俩人好
        好地认认真真地唱一辈子戏，从这个层面上讲，程蝶衣是个真正的艺术家。<br>
     <br>如上所述，李碧华塑造如此这般的一个人戏不分、完美艺术家的形象，是有其深层次意蕴和所指的。那么意蕴和所指何在？——
        即“人生如戏，戏如人生”的主题。对程蝶衣而言，戏如人生没有任何问题，他本身就是人戏不分，他作为旦角，有一出要常演
        出的戏《贵妃醉酒》，其中有句唱词：“人生在世如春梦，且自开怀饮几盅。”这句话可谓点睛之笔，小说中也有出现。如前所
        述，白先勇说“中国文学的一大特色是对历代兴亡、感时伤怀的追悼，……其中所表现出人世沧桑的一种苍凉感、历史感及无常
        感，正足中国文学的最高境界。”李碧华的《霸王别姬》处理故事的时间跨度如此之大，自然能够读出那种浓浓的历史沧桑感，
        人生无常，荣华富贵和穷困潦倒都在转瞬之间。<br>
     <br>作为一个现代作家，要面对国家和民族自清末以来的苦难历史，要表述自己对这些问题的思考，自然会有很多的方法，就我有限
        的阅读范围而言，陈忠实的《白鹿原》自然是如史诗一般的大作，莫言的《檀香刑》则是较为成功的切片式的描述，而李碧华匠
        心独具，选择讲一个京剧的故事来承载这段历史，京剧作为旧物风华的象征意义自不待言，她又在京剧中选了《霸王别姬》这一
        梅派的经典剧目作为故事载体，虚构出程蝶衣和段小楼两个人物（1922年和梅兰芳先生合演《霸王别姬》的人叫杨小楼，不知与
        此有无关系），通过一个讲分离诉离殇的故事来作为小说主旨，用意不可谓不明显。这是一个文笔出众才华横溢的现代香港商业
        女作家在香江对家国命运、近代历史的思考，也是她对自己所中意的30年代、乃至已经全民被摧毁和抛弃的传统文化远去的目送
        。面对这种挽留不住的离殇，作家李碧华想必也满腹的“可叹人生如戏，原是人生如梦”之感，戏是李碧华心中的程蝶衣和段小
        楼一个百媚千娇一个豪气干云的《霸王别姬》，梦是“田园将芜胡不归，千里从军为了谁？”一般的极具沧桑感的千秋家国梦。<br></DIV>



        <p style="text-align:right;">
        —— <a href="https://book.douban.com/review/5435191/">《霸王别姬》三声叹</a>
    </p>

</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
         {% if site.duoshuo_username==
    "huxblog" %}
    data-thread-id="1187623191091085319"
    {% else %}
    data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/">
</div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"/>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
