---
layout: page
title: "About"
description: "Hey, this is Huixue."
header-img: "img/about bg.jpg"
---


<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        小楼依旧当年貌，世间已无程蝶衣。
    </blockquote>
    <br><B>“一叹红尘苦，二叹红尘误，三叹红尘无去处，花落旧梦故。”</B><br>

    <br>一叹笔走龙蛇，于脂粉中观历史沧桑<br>——国粹风华里传统文化的近世命运<br>
    <br>萝卜白菜各有所爱，我个人一直偏好读一些历史感强、可以对应到具体历史情境之中的文本，一则是这让人能够加深对时代的认知，二来或许反映了在纷杂世事中，自己无心
    去天外飞仙科幻武侠的惶恐感。都说历史就是中国人的宗教，历史话题也是中国人街头巷议的最普世的谈资，反映到文学作品上，历史感成为很多优秀的文学作品的元素。白先勇
    在《台北人》这本大牛的短篇小说集中表示过：“中国文学的一大特色，是对历代兴亡、感时伤怀的追悼，从屈原的《离骚》到杜甫的《秋兴八首》，其中所表现出人世沧桑的一
    种苍凉感，正足中国文学的最高境界，也就是《三国演义》中‘青山依旧在，几度夕阳红’的历史感，以及《红楼梦·好了歌》中‘古今将相在何方，荒冢一堆草没了’的无常感
    。……现代中国文学作品的缺点，就是缺少历史感，五四以来我没有一种反传统的后遗症，使我们与传统一刀切断……现在的作品缺少了历史感，内容便显得单薄。”<br>
    <br>李碧华的才具和文笔，自不消我多说，读过她文章的人，无一不夸其功力，就《霸王别姬》而言，写的是北京的故事，而且其时间跨度长达半个世纪，最关键的是要涉及很多
    重要的且敏感的历史情境的处理，如果在没有任何政治禁忌的情况下单单写一部历史教科书，尚且困难，何况是写小说，将人物置于半世纪的沧桑变化当中，对一个作家的考验是全
    面的，这种能力陈忠实具备，《白鹿原》的历史地位不容置疑，但作为一个商业编剧的香港人李碧华，自己从没在北京生活过，而且解放后北京的很多老文化已经消失，能把北京在
    半世纪的故事写好，确实令人敬佩。李碧华让我想起了陆游，一个生于1125年（北宋1127年灭亡），一辈子没有回到过北方的人，却能写出上千首关于北伐，关于北方，关于心中那
    个不死的中原帝国的人，“夜雪楼船瓜洲渡，铁马冰河大散关”，这是他心中的北方，虽然他一生落得“塞上长城空自许，镜前霜鬓已先斑”，但千古此心同，李碧华的心中，想必
    有个历经离乱的千秋家国梦。<br>
    <br>《霸王别姬》处理的并不是历史问题，它无意争辩一个历史结局中的对错和谁对历史负责，也不探讨国家和民族命运前途，它只是在写儿女情长，讲一些人的人生，有浓有淡，
    有详有略的不同人生。中心人物段小楼和程蝶衣是梨园弟子，从卖身戏班历经苦练并最终成角儿，他们是京剧行业金字塔顶端的人，是这个行业的成功者和幸运儿（小说中日据时期，
    程蝶衣无心唱戏，抽大烟时对小四儿说：“一二十年也出不了角儿，你成不了角儿。”），段程二人的经历，无疑是理想中的典型。他们的师傅关金发说是人就得听戏，所以作为名
    角儿，他们能够经历北洋、民国、日据、内战、解放并被奉为座上宾——这其中，其实大半牵扯京剧在李碧华笔下的象征意义，因此京剧这样一个胭脂水粉的艺术形式，在小说中自然
    已经被碾上了历史车轮的印迹。<br>
    <br>京剧被称为国粹，在乾隆时期秦腔、昆曲等地方戏在北京合流，并于此后八大徽班进京时和徽剧、汉调融合并逐渐成型，终于慢慢形成这一中国戏曲的高峰，京剧虽然源自民间，
    但在京剧的形成发展过程当中，来自宫廷的上层的大力支持起过相当重要的作用，清廷推崇京剧（小说中的倪公公看戏讲排场，即是例证），慈禧本人就是个京剧专家。由此看来，京
    剧其实是中国传统文化中阳春白雪、走上层精英路线的一种文化。京剧的形成，从时代背景上来说，是中国文化遭遇千年未有之变局的近代，中国在这一或被动或主动的漫长变革中，除
    了需要应付纷至沓来的西方的政治军事压力，另一个更重要的命题是如何处理中国传统文化与西方工业化为表现形式的现代文明的关系。中国传统文化处理这一关系的过程，就是近一百
    多年来中国历史的文化背景。从洋务到维新，从五四到文革，中国人面对传统文化的基本思路，可谓是弃比扬多，有时甚至是全盘否定和彻底铲除（五四和文革）。京剧作为传统文化中
    的阳春白雪，自然是与现代文明进步和社会变革遭遇时首先要处理的问题，在此意义上，李碧华笔下的京剧，就是传统文化的象征。<br>
    <br>由是，《霸王别姬》在这样一个大的历史背景下，其儿女情长胭脂水粉的京剧故事必然会透露出作者对这段历史的基本倾向，这个透露，则全在小说中与京剧联系的人物命运身上。
    戏班师父关金发，是传统的京剧文化的守护者，他手下带出了段程二人这样的名角儿，自己一生用最严格和最符合祖训的方式生产一辈辈的京剧演员，他是敬业的，他的生活中除了京剧
    别无他物，他最后也是自然地终老在了京剧课堂上；京剧大拿、行家里手袁四爷，无论从社会地位还是文化身份上都是旧中国的上层人士，是整个上层的缩影，解放后作为反动戏霸“说
    毙就给毙了”，青木是日本军官，可他迷恋中国的京剧，背过牡丹亭的本子，程蝶衣说：“没准他能把京剧带到日本去。”倪公公似乎也是爱戏之人，可是他的下场却很灰暗。这些人，可
    谓都是京剧的知己，但是他们的下场无一不是被扫进历史的垃圾堆；段程两位主角的经历自不必说，他们代表了半世纪以来最好的京剧演员，最终难得善终（见风使舵的小四儿靠已经被阉
    割和歪曲过的样板戏上位，全无传统道德中的恩义）。李碧华站在历史后来者的角度，用小说情节为这些旧文化的人做了最终的评价，尤其在文革一段的大篇幅描写中，京剧的遭际，又再
    次强调了李碧华对传统文化近世命运的态度，而这一态度，在小说的结尾有点睛的地方：“……不久，他便无立锥之地。整个的中国，整个的香港，都离奇他了，只好到澡堂泡一泡。到了
    该处，只见‘芬兰浴’三个字。啊，连浴德池，也没有了。”<br>
    <br>小说具有历史感不等于要得出明确的历史结论，李碧华并没有白纸黑字地说传统文化在败亡，旧中国的风雅在现代香消玉殒，她只是在通过人物命运来抒发自己的一种感慨和叹息，通过
    京剧这国粹风华在近世的命运来流露一种情绪，这种叹息和情绪，是那种中国老百姓看惯了改朝换代后眼中的沧桑，是“白发渔樵江渚上，惯看秋月春风”那种淡泊的历史感。<br>



    <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/19687065">李书航 － 什么是「共产中文腔调」？ </a>
    </p>

</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
         {% if site.duoshuo_username==
    "huxblog" %}
    data-thread-id="1187623191091085319"
    {% else %}
    data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/">
</div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"/>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
